@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: Varela Round;
  color: rgb(199, 199, 199);
  width: 100%;
  background: rgb(0, 2, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}
body::-webkit-scrollbar {
  background: #373636;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #ffce3a;
  width: 10px;
  border-radius: 20px;
}
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0px 15px 0px 0px;
}

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border: 1px solid white; */
  margin-left: 16%;
  height: 100vh;
}


.intro::before {
  content: "";
  background: rgb(255, 208, 0);
  width: 2px;
  margin-right: -20px;
}

.navbar a.active {
  color: rgb(255, 208, 0);
  /* background: rgba(0, 1, 9, 0.638); */
}
#About-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.text {
  width: 60%;
  font-size: 20px;
}
.text p {
  line-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

.Skills {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  column-gap: 20px;
}
#Contact {
  width: 100%;
  height: 100vh;
}

 .Projects{
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 10%;
 }

#About-page .img {
  width: 40%;
}

#robot {
  animation: move infinite alternate 1s ease-in-out;
}

@keyframes move {
  from {
    margin-bottom: 40px;
  }
  to {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 805px) {
  /* 680 */
  #Home  img {
    display: none;
  }
  .intro {
    width: 100%;
    display: flex;
    margin-left: 15%;
  }
  .content {
    width: 200%;
  }
}

@media screen and (max-width: 980px) {
  #About-page {
    gap: 20px;
    padding-left: 20%;
  }
  .text {
    font-size: 17px;
    width: 80%;
  }
  .Projects{
    padding: 0px 40px;
  }
}

@media screen and (max-width: 680px) {
  .navbar {
    display: none;
  }
  #Home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  #About-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    gap: 20px;
    padding-left: 10%;
  }
  .text {
    font-size: 15px;
    width: 100%;
  }

}


@media screen and (max-width: 530px) {
    #Contact{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     #robot{      
        display: none;
     }
  
  }
